
__init__\.py

__pycache__/HardCodedClassifier\.cpython-36\.pyc

__pycache__/HardCodedModel\.cpython-36\.pyc

Importing_Data_Python_Cheat_Sheet\.pdf

temp\.py

*.pyc

__pycache__/
Week 03/teach03\.py

Week 03/Teach 03 - Team Formation

Week 03/adult_data\.csv

Week 03/adult_test\.csv

Week 01/prove01\.txt

Week 02/prove02\.txt

Week 03/Teach 03 - Team Formation\.txt

*.pdf

Week 05/NaiveBayesClassifier\.xlsx

Week 05/prove05\.txt

Week 06/Teach 06

Week 06/Teach_06\.txt





*.docx

*.txt

Machine Learning/

Group Project/ml-20m/
